.sombra2{
    box-shadow: 10px 6px 10px 10px rgba($color: #000000, $alpha: 0.15);
}

.pie_pagina {
    display: flex;
    justify-content: space-between;
    background-color: $colorPrincipal;
    div{
        padding-top: 10px;
    }
}

.redes_sociales{
    a{
        text-decoration: none;
        color: black;
    }
}