.navegador{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: $colorPrincipal;
    padding-top: 1%;
    padding-bottom: 1%;
    div{
        padding-left: 20px;
        padding-right: 20px;
    }
}

.logo{
    width: 100px;
    height: 100px;
}

.menu{
    display: flex;
    justify-content: flex-end;
    li{
        list-style-type: none;
        padding: 15px;
        font-size: 20px;
        a{
            text-decoration: none;
            color: rgb(54, 54, 54);
            &:hover{
                color: rgb(61, 42, 73);
            }
        }
    }
}