.carrusel{
    padding: 0;
}

.slider{
    z-index: -1;
    position: relative;
    width: 100%;
    height: 600px;
    padding: 0;
    li{
        position: absolute;
        list-style-type: none;
        opacity: 0;
        width: inherit;
        height: inherit;
        transition: opacity .5s;
        img{
            width: 100%;
            height: 600px;
        }
        &:first-child{
            opacity: 1;
        }
        &:target{
            opacity: 1;
        }
    }
}

.menu_slider{
    text-align: center;
    margin: 20px;
    li{
        display: inline-block;
        text-align: center;
        a{
            display: inline-block;
            color: white;
            text-decoration: none;
            background-color: $colorSecundario;
            padding: 10px;
            width: 20px;
            height: 20px;
            font-size: 20px;
            border-radius: 100%;
            &:hover{
                background-color: $colorPrincipal;
            }
        }
    }
}

.titulo_bienvenida{
    margin-top: 20px;
    background-color: $colorSecundario;
    color: $colorLetra;
    display: flex;
    justify-content: center;
    h2{
        padding-top: 10px;
        padding-bottom: 15px;
    }
}

.bienvenida{
    background-color: $colorSecundario;
    margin-bottom: 20px;
    padding-bottom: 50px;
    text-align: center;
    color: $colorLetra;
}

.extra{
    display: flex;
    justify-content: center;
}

.extras{
    display: flex;
    padding: 5%;
}