@media screen and (max-width: 894px){
    
    /*Index*/

    .slider{
        position: relative;
        width: 100%;
        height: 450px;
        li img{
            width: 100%;
            height: 450px;
        }
    }
    
    .bienvenida{
        padding: 30px;
    }
    
    .mapas{
        height: 200px;
    }

    /*Productos y Ofertas*/
    
    .juguete{
        width: 40%;
    }
}


@media screen and (max-width: 738px){

    .botonWpp{
        display: none;
    }

    /*Index*/

    .navegador{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .logo{
        margin-top: 25%;
    }

    .slider{
        position: relative;
        width: 100%;
        height: 300px;
        li img{
            width: 100%;
            height: 300px;
        }
    }

    .bienvenida{
        padding: 20px;
    }

    .texto-extras{
        display: none;
    }

    /*Productos y Ofertas*/

    .catalogo{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .juguete{
        width: 55%;
    }

}

@media screen and (max-width: 570px){

    .botonWpp{
        display: none;
    }
    
    .menu li{
        padding: 10px;
        a{
            font-size: small;
        }
    }

    .no_mostrar{
        display: none;
    }

    .texto-extras{
        display: none;
    }

}

@media screen and (max-width: 400px){
    
    .botonWpp{
        display: none;
    }
    
    .menu li{
        padding: 5px;
    }

    .juguete{
        width: 80%;
    }

    .texto-extras{
        display: none;
    }

}