.catalogo_titulo{
    padding-left: 5%;
    margin-top: 3%;
}

.juguete{
    margin: 4%;
    padding: 10px;
    width: 25%;
    background-color: $colorSecundario;
    h3{
        margin-top: 5%;
        text-align: center;
        color: $colorLetra;
        font-weight: bold;
    }
    p{
        text-align: center;
        margin-bottom: 0px;
        padding: 1%;
        color: $colorLetra;
    }
    input{
        margin-top: 4%;
        margin-left: 36%;
        padding: 1%;
    }
    img{
        height: 300px;
        width: 99%;
    }
}

.parrafo_combo{
    background-color: $colorSecundario;
    padding: 3%;
    p{
        color: $colorLetra;
    }
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.25);
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}